name: Deploy Documentation
on:
  push:
    branches: [master]
permissions:
  pages: write
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install -y doxygen graphviz
      - run: doxygen Doxyfile
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/html'
      - uses: actions/deploy-pages@v4
