name: Deploy Documentation

on:
  push:
    branches: [main]

permissions:
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Remove old docs directory
        run: rm -rf docs  # Limpia cualquier docs anterior
      
      - name: Setup Doxygen
        run: sudo apt-get install -y doxygen graphviz
      
      - name: Generate Documentation
        run: doxygen Doxyfile
      
      - name: Setup Pages
        uses: actions/configure-pages@v4
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/html'
      
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
